.gradient-background {
	background: linear-gradient(300deg,#23a6d5,#e73c7e,#ee7752);
	background-size: 180% 180%;
	animation: gradient 18s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.icon-square{
    height: 50px;
    width: 50px;
    border-radius: 25%;
}
.profile{
    height: 100px;
    border-radius: 50%;
}